apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: yopass-ingress
  namespace: yopass
  annotations:
    spec.ingressClassName: nginx
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
spec:
  tls:
  - hosts:
    - #fqdn#
    secretName: yopass-tls
  rules:
  - host: #fqdn#
    http:
      paths:
      - backend:
          service:
            name: yopass
            port: 
             number: 1337
        path: /
        pathType: Prefix